<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <head th:replace="user/fragments :: main_header('tag')"></head>
  <title>Tra cứu đơn hàng - Kết Nối Tiêu Dùng Việt - Sản phẩm gia dụng chính hãng, giá rẻ.</title>
  <link rel="stylesheet" type="text/css"  th:href="@{/styles/order_history.css}">
</head>

<body>
<div class="super_container">
  <th:block th:replace="user/fragments :: header_nav"></th:block>
  <div class="order_history-wrapper">
    <div th:unless="${#authorization.expression('isAnonymous()')}" class="grid wide">
      <div class="tab-pane active">
        <div class="tab__filter-order">
          <a th:href="@{/order/history}"
             class="btn item__filter-order"
             th:classappend="${status == '' ? 'active' : ''}">
             Tất cả
          </a>
          <a th:href="@{/order/history?status=Đang%20xử%20lí}"
             class="btn item__filter-order"
             th:classappend="${status == 'Đang xử lí' ? 'active' : ''}">
            Đang xử lí
          </a>
          <a th:href="@{/order/history?status=Hoàn%20thành}"
             class="btn item__filter-order"
             th:classappend="${status == 'Hoàn thành' ? 'active' : ''}">
            Hoàn thành
          </a>
          <a th:href="@{/order/history?status=Đã hủy}"
             class="btn item__filter-order"
             th:classappend="${status == 'Đã hủy' ? 'active' : ''}">
             Đã hủy
          </a>
        </div>
        <div th:if="${listOrder.size() > 0}" class="grid wide">
          <div class="row">
            <div th:each="order : ${listOrder}" class="col l-12 m-12 s-12">
              <div class="main__order_history">
                <div class="main__order-title">
                  <div class="col l-8 ">
                    <div class="info__customer">
                      <div class="date__order">[[${#dates.format(order.createAt, 'yyyy-MM-dd')}]]</div>
                      <span>|</span>
                      <div class="name__customer">[[${order.name}]] - [[${order.phoneNumber}]]</div>
                    </div>
                  </div>
                  <div th:if="${order.status == 'Đang xử lí'}" class="status__order processing">[[${order.status}]]</div>
                  <div th:if="${order.status == 'Hoàn thành'}" class="status__order success">[[${order.status}]]</div>
                  <div th:if="${order.status == 'Đã hủy'}" class="status__order">[[${order.status}]]</div>
                </div>

                <div th:each="orderItem, itrStat : ${order.listOrderItem}" class="order__item" >
                  <div class="col l-8 ">
                    <div class="wrapper__info-product">
                      <img th:src="${orderItem.product.image}" alt="error">
                      <div class="info_product">
                        <a href="#" class="main__product-name">[[${orderItem.product.name}]]</a>
                        <div class="main__product-amount">
                          <div class="main__product-price">
                            [[${#numbers.formatDecimal(orderItem.oldPrice, 3,'POINT', 0,'COMMA')}]] đ
                          </div>
                          <span>x</span>
                          <div>[[${orderItem.quantity}]]</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col l-2 s-3">
                    <div class="main__product-price">
                      [[${#numbers.formatDecimal((orderItem.oldPrice * orderItem.quantity), 3,'POINT', 0,'COMMA')}]] đ
                    </div>
                  </div>
                </div>

                <div class="wrapper__total-order">
                  <span>Tổng thanh toán : </span>
                  <div class="total-order">[[${#numbers.formatDecimal(order.totalPayment, 3,'POINT', 0,'COMMA')}]] đ </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div th:if="${listOrder.size() == 0}">
          <div class="wrapper__empty-order">
            <div >
              <i class="fas fa-cart-plus icon__empty-cart"></i>
            </div>
            <div class="info">Bạn chưa có đơn đặt hàng nào !</div>
            <a th:href="@{/list-product}" class="btn blue_button">
              Tiếp tục mua sắm
              <i class="fas fa-angle-double-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div th:if="${#authorization.expression('isAnonymous()')}" class="not_authen-wrapper">
      <h3>Vui lòng đăng nhập!</h3>
      <a class="btn blue_button" href="#my-Login">Đăng nhập</a>
    </div>
  </div>
</div>

<footer th:replace="user/fragments :: footer"></footer>
<div th:replace="user/fragments :: modal_form"></div>
<th:block th:replace="user/fragments :: js_file"></th:block>
<script th:src="@{/js/pay_script.js}"></script>
</body>
</html>