<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head th:replace="user/fragments :: main_header('tag')"></head>
    <title>[[${productDetail.name}]] - Kết Nối Tiêu Dùng Việt - Sản phẩm gia dụng chính hãng, giá rẻ.</title>
    <!-- product single -->
    <link rel="stylesheet" type="text/css"  th:href="@{/styles/single_styles.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/styles/single_responsive.css}">
</head>
<body>
<div class="super_container">
    <th:block th:replace="user/fragments :: header_nav"></th:block>
    <div th:unless="${#authorization.expression('isAnonymous()')}" >
        <input id="nameUser" type="hidden" th:value="${#authentication.principal.fullName}">
    </div>
    <div class="container single_product_container">
        <div class="row">
            <div class="col">

                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a th:href="@{/}">Trang chủ</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>[[${productDetail.category.name}]]</a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>[[${productDetail.name}]]</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-7">
                <div class="single_product_pics">
                    <div class="row">
                        <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                            <div class="single_product_thumbnails">
                                <ul>
                                    <li class="active" th:if="${productDetail.image != ''}">
                                        <img th:src="${productDetail.image}" alt="" th:data-image="${productDetail.image}">
                                    </li>
                                    <li th:each="item : ${productDetail.productImages}" th:if="${item.url != ''}">
                                        <img th:src="${item.url}" alt="" th:data-image="${item.url}">
                                    </li>
                                   <!-- <li class="active"><img src="images/single_2_thumb.jpg" alt="" data-image="images/single_2.jpg"></li>-->
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 image_col order-lg-2 order-1">
                            <div class="single_product_image">
                                <div class="single_product_image_background" th:style="'background-image: url('+${productDetail.image}+');'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="product_details">
                    <div class="product_details_title">
                        <h2>[[${productDetail.name}]]</h2>
                    </div>
                    <div class="inventory_quantity">
                        <div class="product_detail_brand">
                            Thương hiệu : <a href="#" class="">[[${productDetail.brandApp}]]</a>
                        </div>
                        <div class="product_detail_stock">
                            Tình trạng : <a class="text-primary">Còn hàng</a>
                        </div>
                    </div>
                    <hr>
                    <div class="price-box">
                        <div class="product_price-wrapper">
                            <span>Giá : </span>
                            <div class="product_price">
                                [[${#numbers.formatDecimal(productDetail.priceDiscount, 3, 'POINT', 0, 'COMMA')}]]đ
                            </div>
                            <ul  class="star_rating">
                                <li th:each="star_item : ${#numbers.sequence(1, productDetail.avgStar)}">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="product_original_price-wrapper">
                            <div class="old-price">
                                <span>Giá thị trường : </span>
                                <span class="original_price">[[${#numbers.formatDecimal(productDetail.price, 3, 'POINT', 0, 'COMMA')}]]đ</span>
                            </div>
                            <div class="save-price">
                                <span>Tiết kiệm: </span>
                                <span class="price_safe">[[${#numbers.formatDecimal(productDetail.price - productDetail.priceDiscount , 3, 'POINT', 0, 'COMMA')}]]đ</span>
                                <span>so với giá thị trường.</span>
                            </div>

                        </div>
                    </div>

                    <div class="benefit">
                        <div class="container">
                            <div class="row benefit_row">
                                <div class="col-6 benefit_col">
                                    <div class="benefit_item d-flex flex-row align-items-center">
                                        <div class="benefit_icon">
                                            <i class="fas fa-shipping-fast"></i>
                                        </div>
                                        <div class="benefit_content">
                                            <h6>Giao hàng miễn phí</h6>
                                            <p>Cho đơn hàng từ 300K</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 benefit_col">
                                    <div class="benefit_item d-flex flex-row align-items-center">
                                        <div class="benefit_icon"><i class="fas fa-award"></i></div>
                                        <div class="benefit_content">
                                            <h6>Hàng chính hãng</h6>
                                            <p>Cam kết chất lượng</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 benefit_col">
                                    <div class="benefit_item d-flex flex-row align-items-center">
                                        <div class="benefit_icon"><i class="fas fa-history"></i></div>
                                        <div class="benefit_content">
                                            <h6>Đổi trả hàng</h6>
                                            <p>Trong 3 ngày đầu tiên</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-6 benefit_col">
                                    <div class="benefit_item d-flex flex-row align-items-center">
                                        <div class="benefit_icon"><i class="fas fa-question-circle"></i></div>
                                        <div class="benefit_content">
                                            <h6>Tư vấn 24/24</h6>
                                            <p>Giải đáp mọi thắc mắc</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="quantity">
                        <span>Số lượng:</span>
                        <div class="quantity_selector">
                            <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <span id="quantity_value">1</span>
                            <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </div>
                    </div>

                    <div class="group_btn-cart">
                        <button class="main_button add_to_cart_button"
                                th:onclick="addToCartWithQuantity([[${productDetail.id}]])">
                            <i class="fas fa-cart-plus"></i>
                            Thêm vào giỏ hàng
                        </button>
                        <button class="main_button blue_button"
                                th:onclick="buyNow([[${productDetail.id}]])">
                            <i class="far fa-money-bill-alt"></i>
                            Mua ngay
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Tabs -->
    <div class="tabs_section_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="tabs_container">
                        <ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
                            <li class="tab active" data-active-tab="tab_1"><span>Mô tả chi tiết</span></li>
                            <li class="tab" data-active-tab="tab_2"><span>Thông số kĩ thuật</span></li>
                            <li class="tab" data-active-tab="tab_3"><span>Đánh giá</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <!-- Tab Description -->

                    <div id="tab_1" class="tab_container active">
                        <div class="row">
                            <div class="col desc_col">
                                <div class="tab_title">
                                    <h4>Mô tả chi tiết</h4>
                                </div>
                                <div class="tab_text_block">
                                    <p th:utext="${productDetail.description}"></p>
                                </div>
                            </div>
                            <!--<div class="col-lg-3">
                                <div class="tab_title">
                                    <h4>Mô tả chi tiết</h4>
                                </div>

                            </div>-->
                        </div>
                    </div>

                    <!-- Tab Additional Info -->

                    <div id="tab_2" class="tab_container">
                        <div class="row">
                            <div class="col additional_info_col">
                                <div class="tab_title additional_info_title">
                                    <h4>Thông số kĩ thuật</h4>
                                </div>
                                <div th:if="${productDetail.productInfo.size() > 0}" class="product_detail_info">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr th:each="item : ${productDetail.productInfo}">
                                                <td th:text="${item.key}"></td>
                                                <td th:text="${item.value}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tab Reviews -->

                    <div id="tab_3" class="tab_container">
                        <div class="row">

                            <!-- User Reviews -->

                            <div class="col-lg-6 reviews_col list_user_review">
                                <div class="tab_title reviews_title">
                                    <h4>Đánh giá</h4>
                                </div>

                                <!-- User Review -->

                                <div th:each="rate_item : ${evaluateList}" class="user_review_container d-flex">
                                    <div class="user">
                                        <div class="user_pic" style="background: url(/images/default_user.png) center/cover;"></div>
                                    </div>
                                    <div class="review">
                                        <div class="user_rating_header">
                                            <div class="user_name" th:text="${rate_item.nameUser}"></div>
                                            <div class="user_rating">
                                                <ul class="star_rating">
                                                    <li th:each="star_item : ${#numbers.sequence(1, rate_item.numStar)}">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <p th:text="${rate_item.content}"></p>
                                    </div>
                                </div>

                            </div>

                            <!-- Add Review -->

                            <div class="col-lg-6 add_review_col">

                                <div class="add_review">
                                    <div id="review_form">
                                        <div>
                                            <div class="rate_title">
                                                <h1>Đánh giá của bạn : </h1>
                                                <input type="hidden" id="productId" th:value="${productDetail.id}">
                                                <div id="rating">
                                                    <input type="radio" id="star5" name="rating" value="5" checked/>
                                                    <label class="full" for="star5" title="Awesome - 5 stars">
                                                        <i class="fas fa-star"></i>
                                                    </label>

                                                    <input type="radio" id="star4" name="rating" value="4" />
                                                    <label class="full" for="star4" title="Pretty good - 4 stars">
                                                        <i class="fas fa-star"></i>
                                                    </label>

                                                    <input type="radio" id="star3" name="rating" value="3" />
                                                    <label class="full" for="star3" title="Meh - 3 stars">
                                                        <i class="fas fa-star"></i>
                                                    </label>

                                                    <input type="radio" id="star2" name="rating" value="2" />
                                                    <label class="full" for="star2" title="Kinda bad - 2 stars">
                                                        <i class="fas fa-star"></i>
                                                    </label>

                                                    <input type="radio" id="star1" name="rating" value="1" />
                                                    <label class="full" for="star1" title="Sucks big time - 1 star">
                                                        <i class="fas fa-star"></i>
                                                    </label>
                                                </div>
                                            </div>
                                            <input id="review_name" class="form_input input_name" type="text" name="name" placeholder="Tên*" >
                                            <input id="review_email" class="form_input input_email" type="email" name="email" placeholder="Email*" >
                                            <textarea id="review_message" class="input_review" name="message"  placeholder="Nhập đánh giá của bạn..." rows="4"></textarea>
                                            <div class="msg__rare-warning">* Vui lòng nhập mô tả!</div>
                                        </div>
                                        <div class="text-left text-sm-right">
                                            <button id="review_submit"  class="main_button review_submit_btn trans_300" >
                                                <i class="fas fa-paper-plane"></i>
                                                Gửi đánh giá
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="user/fragments :: footer"></footer>
<div th:replace="user/fragments :: modal_form"></div>
<th:block th:replace="user/fragments :: js_file"></th:block>
<script th:src="@{js/single_custom.js}"></script>
<script th:src="@{/js/cart.js}"></script>
<script >
    function addToCartWithQuantity(productId){
        let quantity = $('#quantity_value').html();
        addToCart(productId, parseInt(quantity));
    }
    async function buyNow(productId){
        let quantity = $('#quantity_value').html();
        let isSuccess = await addToCart(productId, parseInt(quantity));
        if(isSuccess){
            window.location.href = '/cart'
        }
    }
</script>
</body>
</html>