@charset "utf-8";

/*********************************
4. Products
*********************************/

.products_iso
{
	width: 100%;
}
.section_title
{
	display: inline-block;
	text-align: center;
}
.section_title h2
{
	display: inline-block;
}
.section_title::after
{
	display: block;
	position: absolute;
	top: calc(100% + 13px);
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 60px;
	height: 5px;
	background: #fe4c50;
	content: '';
}

/*********************************
4.1 Product Sorting
*********************************/
.product_sorting_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product_sorting_container_bottom
{
	margin-top: 24px;
}
.product_sorting_container_bottom .product_sorting
{
	float: right;
}
.product_sorting
{
	display: inline-block;
}
/*.product_sorting > li
{
	display: inline-block;
	position: relative;
	width: 185px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	border: solid 1px #ecedee;
	padding-left: 20px;
	padding-right: 7px;
	margin-right: 16px;
}*/
.product_sorting_container_bottom .product_sorting > li
{
	width: 144px;
	margin-right: 0px;
	padding-right: 12px;
}
.product_sorting_container_bottom .product_sorting li span:nth-child(2)
{
	margin-left: 24px;
}
.product_sorting li i
{
	float: right;
	line-height: 40px;
	color: #51545f;
}
.product_sorting li .sorting_type
{
    background: #ebfcff;
    box-shadow: 0px 3px 3px 0px rgb(122 164 187 / 64%);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
    width: 220px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    border: solid 1px #ecedee;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
}
.product_sorting > li:hover ul
{
	visibility: visible;
	opacity: 1;
	top: calc(100% + 1px);
	padding: 0;
}
.product_sorting li .sorting_type option
{
	text-align: center;
}
.product_sorting li ul li span
{
	display: block;
	height: 40px;
	line-height: 40px;
	border-bottom: solid 1px #dddddd;
	color: #51545f;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.product_sorting li ul li span:hover
{
	color: #b5aec4;
}
.product_sorting li ul li:last-child span
{
	border-bottom: none;
}
.product_sorting li span:nth-child(2)
{
	margin-left: 71px;
}
.pages
{
	display: inline-block;
	float: right;
}
.product_sorting_container_bottom .pages
{
	float: left;
}
.page_current
{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    border: solid 1px #ecedee;
    margin-right: 16px;
    background: #ebfcff;
    box-shadow: 0px 3px 3px 0px rgb(122 164 187 / 64%);
}
.product_sorting_container_bottom .pages .page_current
{
	background: #fe4c50;
	border: none;
}

.page_current span {
    color: black;
    font-weight: 600;
}
.product_sorting_container_bottom .pages .page_current span
{
	color: #FFFFFF;
}
.page_selection
{
	display: block;
	position: absolute;
	right: 0;
	top: 120%;
	margin: 0;
	width: 100%;
	background: #FFFFFF;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	padding : 0;
	box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.page_selection li
{
	display: block;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
.page_selection li a
{
	display: block;
	height: 40px;
	line-height: 40px;
	border-bottom: solid 1px #dddddd;
	color: #51545f;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.page_selection li a:hover
{
	color: #b5aec4;
}
.page_current:hover .page_selection
{
	visibility: visible;
	opacity: 1;
	top: calc(100% + 1px);
}
.page_total
{
	display: inline-block;
	line-height: 40px;
	margin-right: 31px;
}
.page_total span
{
	margin-right: 14px;
}
.page_next
{
	display: inline-block;
	line-height: 40px;
	cursor: pointer;
}
.page_next:hover i
{
	color: #b5aec4;
}
.page_next i
{
	font-size: 18px;
	color: #51545f;
}
.showing_results
{
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	float: right;
	margin-right: 34px;
}

/*********************************
5. Breadcrumbs
*********************************/

.breadcrumbs
{
	width: 100%;
	height: 60px;
	border-bottom: solid 1px #ebebeb;
	margin-bottom: 58px;
	font-size: 16px;
}
.breadcrumbs ul li
{
	display: inline-block;
	margin-right: 17px;
}
.breadcrumbs ul li.active a
{
	color: #b9b4c7;
}
.breadcrumbs ul li i
{
	margin-right: 17px;
}
.breadcrumbs ul li a
{
	color: #51545f;
}

/*********************************
6. Sidebar
*********************************/

.product_section_container
{
	margin-top: 140px;
}
.product_section
{

}
.sidebar
{
	float: left;
	width: 200px;
}
.sidebar_section
{
	padding-bottom: 35px;
	margin-bottom: 50px;
	border-bottom: solid 1px #ebebeb;
}
.sidebar_title h5
{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.sidebar_brands{
    padding : 0;
}
.sidebar_brands li.active a
{
	color: #fe4c50;
    font-weight: 700;
}
.sidebar_brands li.active:hover a
{
	color: #fe4c50;
}
.sidebar_brands li a
{
	font-size: 16px;
	line-height: 40px;
	color: #51545f;
}
.sidebar_brands li a:hover
{
	color: #b5aec4;
}
.sidebar_brands li a span
{
	margin-right: 5px;
}
#slider-range
{
	margin-left: 7px !important;
}
#amount
{
	margin-top: 8px;
	color: #1e1e27 !important;
	font-size: 16px !important;
	font-weight: 500 !important;
}
.filter_button
{
	width: 100%;
	height: 30px;
	background: #1e1e27;
	text-align: center;
	margin-top: 25px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.filter_button:hover
{
	background: #34343f;
}
.filter_button span
{
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 30px;
	color: #FFFFFF;
}
.checkboxes li
{
    height: 40px;
    line-height: 40px;
}
.checkboxes li.active i
{
	color: #fe4c50;
	margin-right: 21px;
}
.checkboxes li.active i::after
{
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	font-family: 'FontAwesome';
	font-size: 10px;
	content: '\f00c';
	color: #FFFFFF;
}
.checkboxes
{
	height: 160px;
	overflow: hidden;
    padding: 0;
}
.checkboxes.active
{
	height: auto;
}
.checkboxes li i
{
	position: relative;
	color: #b3b7c8;
	cursor: pointer;
	margin-right: 22px;
}
.checkboxes li span
{
	font-family: 'Poppins', sans-serif;
	color: #51545f;
}
.show_more
{
	display: inline-block;
	cursor: pointer;
}
.show_more span
{
	height: 40px;
	line-height: 40px;
	color: #fe4c50;
}
.show_more span:first-child
{
	margin-right: 11px;
}

/*********************************
7. Main Content
*********************************/

.main_content
{
	float: left;
	width: calc(100% - 200px);
	padding-left: 34px;
}

.product-grid
{
	width: 100%;
	margin-top: 57px;
}
.product-item
{
	width: 25%;
	height: 380px;
	cursor: pointer;
}
.product-item::after
{
	display: block;
	position: absolute;
	top: 0;
	left: -1px;
	width: calc(100% + 1px);
	height: 100%;
	pointer-events: none;
	content: '';
	border: solid 2px rgba(235,235,235,0);
	border-radius: 3px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.product-item:hover::after
{
	box-shadow: 0 25px 29px rgba(63, 78, 100, 0.15);
	border: solid 2px rgba(235,235,235,1);
}
.product
{
	width: 100%;
	height: 340px;
	border-right: solid 1px #e9e9e9;
}
.product_image
{
	width: 100%;
}
.product_image img
{
	width: 100%;
	min-height: 190px;
	height: 190px;
}
.product_info
{
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}
.product_name
{
	margin-top: 20px;
}
.product_name a
{
    font-size: 16px;
    color: #1e1e27;
    line-height: 24px;
    font-weight: 700;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    white-space: normal;
}
.product_name:hover a
{
	color: #b5aec4;
}
.discount .product_info .product_price
{
	font-size: 14px;
}
.product_price
{
	font-size: 16px;
	color: #fe4c50;
	font-weight: 600;
}
.product_price span
{
	font-size: 12px;
	margin-left: 10px;
	color: #b5aec4;
	text-decoration: line-through;
}
.product_bubble
{
	position: absolute;
	top: 15px;
	width: 50px;
	height: 22px;
	border-radius: 3px;
	text-transform: uppercase;
}
.product_bubble span
{
	font-size: 12px;
	font-weight: 600;
	color: #FFFFFF;
}
.product_bubble_right::after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 6px;
	right: auto;
	top: auto;
	bottom: -6px;
	border: 6px solid;
}
.product_bubble_left::after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
	right: 6px;
	bottom: -6px;
	border: 6px solid;
}
.product_bubble_red::after
{
	border-color: transparent transparent transparent #fe4c50;
}
.product_bubble_left::after
{
	border-color: #51a042 #51a042 transparent transparent;
}
.product_bubble_red
{
	background: #fe4c50;
}
.product_bubble_green
{
	background: #51a042;
}
.product_bubble_left
{
	left: 15px;
}
.product_bubble_right
{
	right: 15px;
}
.add_to_cart_button
{
	width: 100%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.add_to_cart_button a
{
	font-size: 14px;
	font-weight: 600;
}
.product-item:hover .add_to_cart_button
{
	visibility: visible;
	opacity: 1;
}
.favorite
{
	position: absolute;
	top: 15px;
	right: 15px;
	color: #b9b4c7;
	width: 17px;
	height: 17px;
	visibility: hidden;
	opacity: 0;
}
.favorite_left
{
	left: 15px;
}
.favorite.active
{
	visibility: visible;
	opacity: 1;
}
.product-item:hover .favorite
{
	visibility: visible;
	opacity: 1;
}
.favorite.active::after
{
	font-family: 'FontAwesome';
	content:'\f004';
	color: #fe4c50;
}
.favorite::after
{
	font-family: 'FontAwesome';
	content:'\f08a';
}
.favorite:hover::after
{
	color: #fe4c50;
}
.rate__star{
   /* margin-bottom: 10px;*/
}
/* ===Pagination=== */

.pagination {
    display: flex;
    margin: 20px 0 40px 0;
}

.pagination__list {
    display: flex;
    margin: auto;
}

.pagination__item {
    margin-right: 16px;
}
.pagination__item.num {
    background: #cfcfcf;
}
.pagination__link {
    color: black;
    padding: 8px 15px;
    display: block;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 400;
}
.pagination__link.disable{
    cursor: initial;
}
.pagination__link.disable i{
    color: #ced3d3;
}

.pagination__link:hover {
    opacity: 0.7;
    transition: all 0.3s;
}

.pagination__item.active .pagination__link {
    background-color: var(--main-cl);
    color: white;
}
.pagination__link i {
    font-weight: 200;
    font-size: 16px;
    font-weight: 500;
}
/* compare product*/
.compare__item{
    display: flex;
    color: #245ad9;
    font-size: 16px;
    background: transparent;
    border: none;
    margin-top: 6px;
}
.compare__item:hover{
    cursor : pointer;
    opacity : .8;
}
.compare__item .checked__status{
    display : none;
}
.compare__item .add__status{
    display : block;
}
.compare__item.active .checked__status{
    display : block;
}
.compare__item.active .add__status{
    display : none;
}

/* list compare*/
.stick-compare{
    position: fixed;
    left: 0;
    right: 0;
    top: unset;
    bottom: 0;
    border-top: 1px solid #e5e5e5;
    box-shadow: 0 -2px 10px rgba(0,0,0,.12);
    background-color: #ffffff;
    z-index: 10;
    display : none;
}
.stick-compare .collapse__list-compare{
    position: absolute;
    color: black;
    background: #eff5f5;
    top: 0;
    right: 0;
    width: max-content;
    transform: translateY(-100%);
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    border-top-left-radius: 4px;
    font-weight: 600;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
    box-shadow: 0 -2px 10px rgba(0,0,0,.12);
}
.stick-compare .collapse__list-compare:hover{
    cursor: pointer;
}
.stick-compare .collapse__list-compare span{
    margin-right : 6px;
}
.list-compare{
    display: flex;
    padding: 10px 0px;
    max-width: 1200px;
    margin: 0 auto;
}

.list-compare .item__data-compare{
    position : relative;
    display: inline-flex;
    border-right: 1px solid gray;
    padding: 10px;
    align-items: center;
}
.item__data-compare .del__item-compare{
    position: absolute;
    font-size: 20px;
    top: 0;
    right: 6px;
    min-width: auto;
    border: none;
    background: transparent;
}
.item__data-compare .del__item-compare:hover{
    opacity : .8;
    cursor : pointer;
}
.item__data-compare .img__item-compare{
    width: 36%;
}
.item__data-compare .name__item-compare{
    display: block;
    width: 64%;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}
.wrapper__btn_compare{
    height: 100%;
    display: flex;
    font-size: 1.6rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.wrapper__btn_compare .btn-compare{
    background: #2f80ed;
    padding: 10px 14px;
    margin-bottom: 6px;
    margin-left: 10px;
    color: white;
}
.txtremoveall{
    font-size: 18px;
    font-weight: 600;
}
.wrapper__btn_compare .txtremoveall{
    color: #e50d00;
}
.wrapper__btn_compare .txtremoveall:hover{
    opacity : .8;
    cursor : pointer;
}
.item__plus-compare{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid gray;
    height: 100%;
    text-align: center;
}
.item__plus-compare .icon__plus-compare{
    font-size: 30px;
    padding: 4px 10px;
    border: 2px #818181 dashed;
    border-radius: 4px;
    margin-bottom: 10px;
}
.item__plus-compare .title__add-compare {
    font-size: 16px;
    font-weight: 600;
}
.item__plus-compare i {
    font-weight: 100;
}
.popup__compare{
    position: fixed;
    left: 15px;
    z-index: 2;
    font-size: 16px;
    background: var(--main-cl);
    padding: 12px 20px;
    gap: 6px;
    border-radius: 40px;
    bottom: 24px;
    font-weight: 600;
    display: none;
    color: var(--sub-color-1);
}
.popup__compare > * {
    display: inline;
}
.popup__compare:hover{
    cursor : pointer;
    background: #9ce7f5;
}
.modal__compare-title{
    font-size: 18px;
    font-weight: 600;
}

.name__prod-compare{
    vertical-align: top !important;
    font-weight: 700;
    font-size: 15px;
    color: var(--sub-color-1);
}
